<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Keys related to your Azure Search instance-->
    <add key="SearchServiceName" value="jfk-search-service-qymjpzort5hho" />
    <add key="SearchServiceApiKey" value="023DB82430FFA416AD39EEF8A6FDFF2A" />
    <add key="SearchServiceQueryKey" value="4782C36A67EEB5F270F34BEF2A89F82E" />

    <!--Keys related to your storage account for the image-store custom skill-->
    <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jfkstorageqymjpzort5hho;AccountKey=CamEKgqVaylmQta0aUTqN8vUy/xvUewVYZOrBvF1mh85zlgtj3fm7YheYRgoB6paMp+VcFUpTRIlow2VHlyCww==;" />

    <!--Keys related to your Azure Web App instance-->
    <add key="AzureWebAppSiteName" value="jfk-site-qymjpzort5hho" />
    <add key="AzureWebAppUsername" value="$jfk-site-qymjpzort5hho" />
    <add key="AzureWebAppPassword" value="j6lxlpctpTKmsaXx3bBqhJ8MnDoNTK12frew5eivGL1oJc8fpuzlfaLJewu6" />

    <!--Keys related to your Azure Function instance-->
    <add key="AzureFunctionSiteName" value="jfk-function-app-qymjpzort5hho" />
    <add key="AzureFunctionUsername" value="$jfk-function-app-qymjpzort5hho" />
    <add key="AzureFunctionPassword" value="4jdcX0zgt4MSZQkDxKvhMcgHuj2NLbBxD5H6y0XMhu81yzyK9kPfYiQn95pF" />

    <!--Location of sample JFK file documents that we are providing to you.-->
    <add key="JFKFilesBlobStorageAccountConnectionString" value="SharedAccessSignature=?sv=2018-03-28&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacup&amp;se=2019-03-30T02:18:02Z&amp;st=2019-03-29T18:18:02Z&amp;spr=https&amp;sig=FzlkNOjOxou%2BIo5foKhtXmGa1KcYQsUOG2TEuoq%2BuSo%3D;BlobEndpoint=https://jfkstorageqymjpzort5hho.blob.core.windows.net/" />
    <add key="JFKFilesBlobContainerName" value="datumblob" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>